<div id="{dialog_name}" title="{title}">
	<p>{message}</p>
	<form>
		<div id="previewcontainer">Fetching preview....</div>
		<label>
			{resolution}
			<input name="resolution" type="number" value="300"> DPI</label>
		<label>
			{mode}
			<select name="mode">
				<option value="0" selected>{color}</option>
				<option value="1">{greyscale}</option>
				<option value="2">{lineart}</option>
			</select>
			<input type="text" name="x">
			<input type="text" name="y">
			<input type="text" name="l">
			<input type="text" name="t">
		</label>
	</form>
</div>
